<div *ngIf="ids==0; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <label for="marca">Id: </label>
  <input type="number" name="marca" [(ngModel)]="curso.id" /><br />
  <label for="color">Nombre: </label>
  <input id="string" id="color" name="color" [(ngModel)]="curso.nombre" /><br />
  <label for="velocidad">Cantidad: </label>
  <input
    type="number"
    id="velocidad"
    name="velocidad"
    [(ngModel)]="curso.duracion"
  /><br />
  <label for="platos">Tipo: </label><br />
  <select name="" id="" [(ngModel)]="curso.nivel">
    <option value="Bajo">Bajo</option>
    <option value="Medio">Medio</option>
    <option value="Alto">Alto</option>
  </select><br>
  <label>
    <input type="submit" value="añadir" routerLink="" (click)="anadir()" />
    <input type="submit" value="cancelar" (click)="cancelar()" />
  </label>
</ng-template>
<ng-template #elseBlock >
<label for="id">Id: </label>
<input type="number"[(ngModel)]="curso.id" /><br />
<label for="Nombre">Nombre: </label>
<input id="string" id="Nombre" name="Nombre" [(ngModel)]="curso.nombre" /><br />
<label for="velocidad">Cantidad: </label>
<input
  type="number"
  id="velocidad"
  name="velocidad"
  [(ngModel)]="curso.duracion"
/><br />
<label for="platos">Tipo: </label><br />
<select name="" id="" [(ngModel)]="curso.nivel">
  <option value="Bajo">Bajo</option>
  <option value="Medio">Medio</option>
  <option value="Alto">Alto</option>
</select><br />
<input type="submit" value="modificar" routerLink="" (click)="modificar()" />
<input type="submit" value="cancelar" (click)="cancelar()" />
</ng-template>

